# HW04 – Recommender Systems Which movie should we watch next?

#### It’s cold and rainy and you are looking to have a day of movie binging with your family.
#### You have decided that the first movie that you will watch is Toy Story but would like a
#### recommendation on the next movie. Since you are in a good mood and would like to
#### continue to watch fun movies, you would like to filter movies based on comedies.
#### Which comedy movie should you watch next?
#### Let’s create a recommender system to find out.

### By Donovan Manogue

### 3. Import Libraries

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# In this section I went ahead and imported the basic libraries needed

### 4. Import Data from a URL

In [16]:
df_movies = pd.read_csv('Homework4_Data/movies.csv', index_col = None , header= 0)
df_genres = pd.read_csv('Homework4_Data/movies_genres.csv', index_col = None , header= 0)
df_ratings= pd.read_csv('Homework4_Data/ratings.csv', index_col = None , header= 0)

In [18]:
df_genres.head()

   id     Genre1    Genre2          Genre3 Genre4 Genre5 Genre6 Genre7 Genre8
0   2      Drama     Crime             NaN    NaN    NaN    NaN    NaN    NaN
1   3      Drama    Comedy             NaN    NaN    NaN    NaN    NaN    NaN
2   5      Crime    Comedy             NaN    NaN    NaN    NaN    NaN    NaN
3   6     Action  Thriller           Crime    NaN    NaN    NaN    NaN    NaN
4  11  Adventure    Action  ScienceFiction    NaN    NaN    NaN    NaN    NaN

In [20]:
# Importing the Data from Data Files

### 5. Data preparation to filter based on comedies

#### **OBJECTIVE**: As is always the case, prepping your data is hard. 
#### For this homework, before we can start conducting recommender systems, we need to filter the movies based on it being a comedy.

### Section 5a: Create df_genres_pivot

In [47]:
df_genres_melt = pd.melt(df_genres, id_vars =['id'],
                        value_vars=['Genre1','Genre2','Genre3','Genre4','Genre5','Genre6','Genre7','Genre8'])

In [49]:
df_genres_melt.head()

   id variable      value
0   2   Genre1      Drama
1   3   Genre1      Drama
2   5   Genre1      Crime
3   6   Genre1     Action
4  11   Genre1  Adventure

In [51]:
df_genres_melt['Count'] = 1

In [55]:
df_genres_melt.head()

   id variable      value  Count
0   2   Genre1      Drama      1
1   3   Genre1      Drama      1
2   5   Genre1      Crime      1
3   6   Genre1     Action      1
4  11   Genre1  Adventure      1

In [59]:
df_genres_pivot = pd.pivot_table(df_genres_melt, index='id', columns ='value', values='Count')

In [61]:
df_genres_pivot =df_genres_pivot.reset_index()
df_genres_pivot.head()

value,id,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,History,Horror,Music,Mystery,Romance,ScienceFiction,TVMovie,Thriller,War,Western
0,2,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
4,11,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN

In [67]:
df_genres_pivot.fillna(0)

value,id,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,History,Horror,Music,Mystery,Romance,ScienceFiction,TVMovie,Thriller,War,Western
0,2,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,11,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42986,465044,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42987,467731,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42988,468343,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
42989,468707,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
42990,469172,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [69]:
# in this section we converted df_genres into a pivot table by metlting the data and adding a new column. We also made sure to fill all null values

### Section 5b: Filter df_movies based on comedies

In [73]:
df_movies.head()

,id,imdb_id,adult,budget,original_language,original_title,overview,popularity,production_countries,release_date,revenue,runtime,tagline,title,video,vote_average,vote_count
0,862,tt0114709,False,30000000,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",10/30/95,373554033.0,81.0,NaN,Toy Story,False,7.7,5415.0
1,8844,tt0113497,False,65000000,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/15/95,262797249.0,104.0,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,15602,tt0113228,False,0,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/95,0.0,101.0,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,31357,tt0114885,False,16000000,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/95,81452156.0,127.0,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,11862,tt0113041,False,0,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/10/95,76578911.0,106.0,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [75]:
df_movies_genre = df_movies.merge(df_genres_pivot, how='left', on='id')

In [160]:
df_movies_genre

,id,imdb_id,adult,budget,original_language,original_title,overview,popularity,production_countries,release_date,...,History,Horror,Music,Mystery,Romance,ScienceFiction,TVMovie,Thriller,War,Western
0,862,tt0114709,False,30000000,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",10/30/95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8844,tt0113497,False,65000000,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/15/95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15602,tt0113228,False,0,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/95,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
3,31357,tt0114885,False,16000000,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/95,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,11862,tt0113041,False,0,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/10/95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45458,35731,tt1161951,True,0,en,Amateur Porn Star Killer 2,Shane Ryan's sequel to the disturbing Amateur ...,0.587751,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/13/08,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45459,55774,tt1153101,True,0,en,The Band,Australian film about a fictional sub-par Aust...,0.417214,"[{'iso_3166_1': 'AU', 'name': 'Australia'}]",11/17/09,...,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
45460,39922,tt0070696,True,0,da,Dværgen,Olaf and his mother run a boarding house and a...,1.182635,"[{'iso_3166_1': 'DK', 'name': 'Denmark'}, {'is...",12/20/73,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45461,376004,tt4044464,True,750000,en,Adulterers,A man who returns home to find his wife cheati...,1.133770,[],1/5/16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
45462,448290,tt2697688,True,0,en,Half -Life,An American scientific research facility opens...,0.282680,"[{'iso_3166_1': 'US', 'name': 'United States o...",NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN

In [172]:
df_movies_comedy = df_movies_genre[df_movies_genre['Comedy'] == 1]
df_movies_comedy

,id,imdb_id,adult,budget,original_language,original_title,overview,popularity,production_countries,release_date,...,History,Horror,Music,Mystery,Romance,ScienceFiction,TVMovie,Thriller,War,Western
0,862,tt0114709,False,30000000,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",10/30/95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15602,tt0113228,False,0,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/95,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
3,31357,tt0114885,False,16000000,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/95,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,11862,tt0113041,False,0,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/10/95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,11860,tt0114319,False,58000000,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,"[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",12/15/95,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45439,106807,tt0135571,False,0,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,0.225432,"[{'iso_3166_1': 'FR', 'name': 'France'}]",1/1/00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45442,420346,tt4130180,False,0,en,The Morning After,The Morning After is a feature film that consi...,0.139936,"[{'iso_3166_1': 'US', 'name': 'United States o...",1/11/15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45456,44781,tt0322232,True,0,cn,發電悄嬌娃,Electrical Girl centers around a horny young w...,0.001803,"[{'iso_3166_1': 'HK', 'name': 'Hong Kong'}]",4/26/01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45457,324230,tt3094816,True,0,es,Diet of Sex,Ágata suffers from a psychological disorder wh...,6.889832,"[{'iso_3166_1': 'ES', 'name': 'Spain'}]",2/14/14,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
45459,55774,tt1153101,True,0,en,The Band,Australian film about a fictional sub-par Aust...,0.417214,"[{'iso_3166_1': 'AU', 'name': 'Australia'}]",11/17/09,...,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [174]:
df_movies_comedy = df_movies_comedy[['id', 'title']]

In [176]:
df_movies_comedy

           id                             title
0         862                         Toy Story
2       15602                  Grumpier Old Men
3       31357                 Waiting to Exhale
4       11862       Father of the Bride Part II
6       11860                           Sabrina
...       ...                               ...
45439  106807  The Fat and Lean Wrestling Match
45442  420346                 The Morning After
45456   44781                   Electrical Girl
45457  324230                       Diet of Sex
45459   55774                          The Band

[13182 rows x 2 columns]

In [178]:
df_ratings

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
...          ...      ...     ...         ...
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]

In [180]:
df_comedies_rec = pd.merge(df_movies_comedy,df_ratings,left_on='id',right_on='movieId',how='inner')
df_comedies_rec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3247720 entries, 0 to 3247719
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   id         int64
 1   title      object
 2   userId     int64
 3   movieId    int64
 4   rating     float64
 5   timestamp  int64
dtypes: float64(1), int64(4), object(1)
memory usage: 148.7+ MB

In [181]:
# in this section I created multiple dataframes and merged them to filter movies based on them being comedies

## 6. Create a Recommender System using PCA

### Section 6a: Create a pivot table named df_comedies_pivot

#### **OBJECTIVE**: To create the first recommender system, we will first run PCA to identify the number of components to include when creating our correlation matrix. (This is similar to HW03, but first we need to create a pivot table version of the users and movies similar to Figure 8.)

In [193]:
df_comedies_pivot = pd.pivot_table(df_comedies_rec,index='title',columns='userId',values='rating')

In [195]:
df_comedies_pivot =df_comedies_pivot.fillna(0)
df_comedies_pivot.head()

userId,1,2,3,4,5,6,7,8,9,10,...,270887,270888,270889,270890,270891,270892,270893,270894,270895,270896
title,,,,,,,,,,,,,,,,,,,,,
$5 a Day,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00 Schneider - Jagd auf Nihil Baxter,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 Items or Less,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 Things I Hate About You,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12 Dates of Christmas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [197]:
comedy_names = df_comedies_pivot.index
comedy_names

Index(['$5 a Day', '00 Schneider - Jagd auf Nihil Baxter', '10 Items or Less',
       '10 Things I Hate About You', '12 Dates of Christmas',
       '12 Wishes of Christmas', '2 Days in Paris', '2001: A Space Travesty',
       '24 Hour Party People', '27 Dresses',
       ...
       'Zapped Again!', 'Zazie dans le métro', 'Zero Charisma',
       'Zero for Conduct', 'Zigzag of Success', '¡A volar joven!',
       '¡Three Amigos!', 'Ödipussi', 'Şaban Oğlu Şaban',
       'Šíleně smutná princezna'],
      dtype='object', name='title', length=2098)

In [ ]:
# In this section I created a picot table named df_comedies_pivot

### Section 6b: Create a PCA for df_comedy_pivot

#### **OBJECTIVE**: Time to reduce the number of dimensions from 243,237 (number of columns in df_comedy_pivot) to a more reasonable number that still captures the explained variance.

In [205]:
from sklearn.decomposition import PCA

n_pcs = 85
model = PCA(n_components=n_pcs)

# Fit the model - return projected data
df_comedy_pca = model.fit_transform(df_comedies_pivot)

#Create a DataFrame of the projected data
df_comedy_pca = pd.DataFrame(df_comedy_pca)
df_comedy_pca.head()

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
0,-17.316626,0.499356,2.333956,1.962810,2.024633,0.201153,-0.809383,0.403978,-0.390762,1.178846,...,0.138228,0.208554,-0.330598,0.324573,0.206814,0.268084,-0.047831,0.079492,0.393863,0.150498
1,-18.377745,0.164179,3.325374,3.355762,1.882705,-0.308388,-0.951306,0.073027,0.596650,1.576595,...,0.497895,0.208299,0.226417,0.104311,0.322652,0.390428,-0.034523,0.141751,-0.358892,0.132177
2,17.967140,-11.241489,-31.784518,16.958452,-15.103681,-6.659356,-19.224768,-4.902429,-3.736171,-4.888509,...,5.466262,-0.559186,-1.677183,-2.110319,-2.802096,4.689892,-11.198520,-7.784505,-16.653218,-3.336050
3,2.658676,-2.767690,-3.362124,-10.739989,0.516089,6.207526,1.301159,0.738756,-3.232905,-2.295874,...,1.248045,-1.608962,-0.922707,3.342986,-0.200344,-0.390274,3.404877,0.953849,0.348109,-3.832525
4,-19.480163,0.492870,4.316852,3.361627,2.496690,-0.513061,-1.032770,0.573200,0.654861,1.769396,...,0.345011,0.363111,0.232618,-0.088784,0.165555,-0.030790,-0.126661,-0.084140,0.204708,0.307816

In [206]:
names = []
for x in range(n_pcs):
    names.append('PC%d'%(x+1))

names

['PC1',
 'PC2',
 'PC3',
 'PC4',
 'PC5',
 'PC6',
 'PC7',
 'PC8',
 'PC9',
 'PC10',
 'PC11',
 'PC12',
 'PC13',
 'PC14',
 'PC15',
 'PC16',
 'PC17',
 'PC18',
 'PC19',
 'PC20',
 'PC21',
 'PC22',
 'PC23',
 'PC24',
 'PC25',
 'PC26',
 'PC27',
 'PC28',
 'PC29',
 'PC30',
 'PC31',
 'PC32',
 'PC33',
 'PC34',
 'PC35',
 'PC36',
 'PC37',
 'PC38',
 'PC39',
 'PC40',
 'PC41',
 'PC42',
 'PC43',
 'PC44',
 'PC45',
 'PC46',
 'PC47',
 'PC48',
 'PC49',
 'PC50',
 'PC51',
 'PC52',
 'PC53',
 'PC54',
 'PC55',
 'PC56',
 'PC57',
 'PC58',
 'PC59',
 'PC60',
 'PC61',
 'PC62',
 'PC63',
 'PC64',
 'PC65',
 'PC66',
 'PC67',
 'PC68',
 'PC69',
 'PC70',
 'PC71',
 'PC72',
 'PC73',
 'PC74',
 'PC75',
 'PC76',
 'PC77',
 'PC78',
 'PC79',
 'PC80',
 'PC81',
 'PC82',
 'PC83',
 'PC84',
 'PC85']

In [209]:
df_comedy_pca.columns = names
df_comedy_pca

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,...,PC76,PC77,PC78,PC79,PC80,PC81,PC82,PC83,PC84,PC85
0,-17.316626,0.499356,2.333956,1.962810,2.024633,0.201153,-0.809383,0.403978,-0.390762,1.178846,...,0.138228,0.208554,-0.330598,0.324573,0.206814,0.268084,-0.047831,0.079492,0.393863,0.150498
1,-18.377745,0.164179,3.325374,3.355762,1.882705,-0.308388,-0.951306,0.073027,0.596650,1.576595,...,0.497895,0.208299,0.226417,0.104311,0.322652,0.390428,-0.034523,0.141751,-0.358892,0.132177
2,17.967140,-11.241489,-31.784518,16.958452,-15.103681,-6.659356,-19.224768,-4.902429,-3.736171,-4.888509,...,5.466262,-0.559186,-1.677183,-2.110319,-2.802096,4.689892,-11.198520,-7.784505,-16.653218,-3.336050
3,2.658676,-2.767690,-3.362124,-10.739989,0.516089,6.207526,1.301159,0.738756,-3.232905,-2.295874,...,1.248045,-1.608962,-0.922707,3.342986,-0.200344,-0.390274,3.404877,0.953849,0.348109,-3.832525
4,-19.480163,0.492870,4.316852,3.361627,2.496690,-0.513061,-1.032770,0.573200,0.654861,1.769396,...,0.345011,0.363111,0.232618,-0.088784,0.165555,-0.030790,-0.126661,-0.084140,0.204708,0.307816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2093,-12.342673,-3.330853,3.922789,1.391081,-3.685394,-2.984989,-2.550258,0.152643,1.483567,-3.607085,...,-1.523807,-0.438140,0.127665,-1.657129,-1.048897,-0.458853,-0.092962,-1.116630,-2.029188,0.038486
2094,-18.882186,0.437203,3.812984,3.067699,2.203784,-0.820199,-0.998774,0.367577,0.526603,1.507941,...,0.314823,0.417458,0.206948,0.161236,0.412671,-0.055970,-0.178663,-0.048276,0.170014,0.383029
2095,-15.283326,-1.661003,2.654492,3.091673,-0.650131,0.218650,0.168010,-2.634645,1.204786,0.877996,...,-0.345862,-1.133823,1.216430,0.056451,-0.303272,-0.306546,0.982349,0.013022,0.453319,-0.081056
2096,-17.166576,-0.939541,3.657008,3.720439,0.447326,-0.600584,-0.579884,-1.434289,1.475163,0.867067,...,-0.081847,-0.171739,0.884079,0.267353,0.003752,0.120089,0.531274,0.078322,0.093615,0.520879
2097,-13.165311,0.608230,-0.450099,-1.508189,0.976331,1.659172,-1.128863,1.327382,-2.385064,-0.079937,...,-0.477951,-0.469359,-1.494422,0.165382,0.114438,0.523378,-0.350411,0.585610,0.164864,-0.369382

In [211]:
explained_ratio = model.explained_variance_ratio_
explained_ratio = pd.DataFrame(explained_ratio).reset_index()
explained_ratio = explained_ratio.rename(columns = {0: 'explained_ratio', 'index': 'PC'})
explained_ratio['explained_ratio_sum']= np.cumsum(explained_ratio.explained_ratio)
explained_ratio

    PC  explained_ratio  explained_ratio_sum
0    0         0.194278             0.194278
1    1         0.053022             0.247300
2    2         0.032253             0.279553
3    3         0.023536             0.303089
4    4         0.017345             0.320434
..  ..              ...                  ...
80  80         0.002335             0.692454
81  81         0.002327             0.694781
82  82         0.002310             0.697090
83  83         0.002285             0.699376
84  84         0.002241             0.701617

[85 rows x 3 columns]

In [213]:
# In this section I created a PCA for df_comedy_pivot using n_pcs of 5 and then creates a datafram eto show the explained_ratio & explained_ratio_sum
# this explains 70% of variance and a gerneal rule form DR.A is to use that much so you don not lose too much of the variance explained

### Section 6c: Create a Correlation Matrix for a Recommender System

In [233]:


corr_mat_comedy = np.corrcoef(df_comedy_pca)
corr_mat_comedy  = pd.DataFrame(corr_mat_comedy, columns=(comedy_names))
corr_mat_comedy.index = comedy_names
corr_mat_comedy

title,$5 a Day,00 Schneider - Jagd auf Nihil Baxter,10 Items or Less,10 Things I Hate About You,12 Dates of Christmas,12 Wishes of Christmas,2 Days in Paris,2001: A Space Travesty,24 Hour Party People,27 Dresses,...,Zapped Again!,Zazie dans le métro,Zero Charisma,Zero for Conduct,Zigzag of Success,¡A volar joven!,¡Three Amigos!,Ödipussi,Şaban Oğlu Şaban,Šíleně smutná princezna
title,,,,,,,,,,,,,,,,,,,,,
$5 a Day,1.000000,0.971634,-0.373993,-0.165291,0.973867,0.973758,-0.435798,0.977748,-0.356310,0.976438,...,0.962177,0.286533,0.973918,0.977515,0.973786,0.573452,0.978543,0.853584,0.922739,0.847386
00 Schneider - Jagd auf Nihil Baxter,0.971634,1.000000,-0.304425,-0.279442,0.994643,0.993930,-0.478598,0.995791,-0.394795,0.990147,...,0.971625,0.192944,0.993967,0.989683,0.994546,0.614316,0.994265,0.890434,0.965733,0.738915
10 Items or Less,-0.373993,-0.304425,1.000000,-0.066793,-0.361840,-0.366140,0.445420,-0.342879,0.634862,-0.386258,...,-0.412865,0.181080,-0.365277,-0.378287,-0.360304,-0.023021,-0.348774,-0.209252,-0.268616,-0.284148
10 Things I Hate About You,-0.165291,-0.279442,-0.066793,1.000000,-0.291513,-0.292142,0.192711,-0.280788,0.025466,-0.261427,...,-0.251231,0.161995,-0.291401,-0.259758,-0.290380,-0.185530,-0.279948,-0.127305,-0.267189,0.196052
12 Dates of Christmas,0.973867,0.994643,-0.361840,-0.291513,1.000000,0.999904,-0.519753,0.996613,-0.439068,0.997308,...,0.983025,0.196708,0.999943,0.995674,0.999939,0.593748,0.998276,0.862770,0.951785,0.737418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
¡A volar joven!,0.573452,0.614316,-0.023021,-0.185530,0.593748,0.590882,-0.412108,0.605176,-0.250207,0.589126,...,0.607746,0.115344,0.589267,0.604321,0.595180,1.000000,0.600497,0.688986,0.719186,0.437757
¡Three Amigos!,0.978543,0.994265,-0.348774,-0.279948,0.998276,0.998013,-0.514077,0.997651,-0.421273,0.995857,...,0.981223,0.214402,0.998010,0.996669,0.998174,0.600497,1.000000,0.864760,0.951800,0.753878
Ödipussi,0.853584,0.890434,-0.209252,-0.127305,0.862770,0.859901,-0.396443,0.881917,-0.297620,0.855147,...,0.829820,0.066754,0.859296,0.859826,0.862509,0.688986,0.864760,1.000000,0.948479,0.650349
Şaban Oğlu Şaban,0.922739,0.965733,-0.268616,-0.267189,0.951785,0.950070,-0.506595,0.959960,-0.366420,0.943057,...,0.923065,0.092317,0.949482,0.949218,0.952098,0.719186,0.951800,0.948479,1.000000,0.662323
Šíleně smutná princezna,0.847386,0.738915,-0.284148,0.196052,0.737418,0.737560,-0.147655,0.747678,-0.231683,0.755201,...,0.744492,0.580434,0.738386,0.752626,0.738192,0.437757,0.753878,0.650349,0.662323,1.000000

In [272]:
corr_ToyStory= pd.DataFrame(corr_mat_comedy['Toy Story'])
corr_ToyStory.shape

(2098, 1)

In [270]:
corr_ToyStory.sort_values(ascending=False, by='Toy Story').head(10)

                                                    Toy Story
title
Toy Story                                            1.000000
Pretty Woman                                         0.934451
Borat: Cultural Learnings of America for Make B...   0.930589
Party Monster                                        0.927196
The 51st State                                       0.918242
The Front Page                                       0.913665
Guess Who's Coming to Dinner                         0.905004
Miss Congeniality                                    0.902775
Armed and Dangerous                                  0.893233
Life of Brian                                        0.890926

In [245]:
# In this section I created a correlation Matrix for a recommendar system then created a new dataframe for toy story and and sorted the values with the largest correlation to toy story

### Section 6d: Explain the results for the Recommender System for Toy Story

#### The results I'm seeing is showing the top 10 comedy movies with the highest correlation to Toy Story after creating our PCA dataframe to limit the amount of varibles needed to explain the data. These movies listed are great movies, now when it comes to them making sense to be with toy story is not reasonible. Most of these movies are rated R or have huge controversy. When I think of Toy Story Comedy I'm thinking PG movies, not PG-13 to R to very controversial.These are some great movies, but not good choices when it comes to reccomendations after Toy Story.

In [ ]:
#In this section I explained the results to the Reccomender System based on the correlation matrix and PCA.

## 7. Create a Recommender System using SVD

### Section 7a: Create a correlation matrix from SVD

#### **OBJECTIVE**: For some reason, I just do not believe the results from the PCA. Why would this be the case? If you go back to the Scenarios/Presentations, you will see that one method for Recommender Systems does a better job than the other when the data is sparse. (Sparse refers to data where most of the values are NaNs. Since most users only rate a few movies, most of the original data in corr_comedy_pivot (prior to filling in NaNs with 0) were NaN. Therefore, we should look at SVD as a better option for a recommender system.)

In [295]:
from sklearn.decomposition import TruncatedSVD
SVD = TruncatedSVD(n_components=85)
resultant_matrix_SVD = SVD.fit_transform(df_comedies_pivot)
resultant_matrix_SVD.shape

(2098, 85)

In [296]:
df_resultant_matrix_SVD = pd.DataFrame(resultant_matrix_SVD)
df_resultant_matrix_SVD.head()

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
0,2.396412,-0.035689,-2.275408,-1.429823,-0.586303,0.686190,0.313951,-0.287220,-1.250557,-0.455165,...,0.062082,0.171764,0.108670,0.401240,0.455806,0.057260,-0.111759,-0.074853,-0.633217,0.024190
1,1.256946,-0.361763,-1.153367,-0.083664,-0.775622,0.174191,0.163621,-0.598599,-0.191860,-0.328065,...,0.434836,-0.021123,0.320325,0.318570,0.211500,0.256018,0.103394,0.147585,-0.201341,-0.037846
2,39.009695,-11.883545,-35.677016,14.850666,-18.009552,-6.504325,-17.181710,-7.090466,-7.623928,-7.970909,...,8.670033,4.361481,4.237440,4.712288,-13.743174,8.252982,-0.207122,8.888949,-7.736211,-2.626811
3,23.020943,-3.334630,-8.907074,-13.871254,-1.567059,6.625123,2.362064,0.093609,-4.782399,-2.946071,...,0.164293,-0.775422,2.344925,2.291163,1.635762,-1.781341,-0.309417,-2.148647,-2.018895,-1.216566
4,0.056788,-0.023487,-0.069409,-0.032385,-0.085092,-0.035982,0.016413,-0.070980,-0.029911,-0.061906,...,0.023457,-0.007511,0.031649,0.016874,0.006400,0.020340,-0.006049,0.060943,-0.019388,0.003965

In [297]:
corr_mat_SVD_Comedy = np.corrcoef(resultant_matrix_SVD)
corr_mat_SVD_Comedy = pd.DataFrame(corr_mat_SVD_Comedy, columns=(comedy_names))
corr_mat_SVD_Comedy.index = comedy_names
corr_mat_SVD_Comedy

title,$5 a Day,00 Schneider - Jagd auf Nihil Baxter,10 Items or Less,10 Things I Hate About You,12 Dates of Christmas,12 Wishes of Christmas,2 Days in Paris,2001: A Space Travesty,24 Hour Party People,27 Dresses,...,Zapped Again!,Zazie dans le métro,Zero Charisma,Zero for Conduct,Zigzag of Success,¡A volar joven!,¡Three Amigos!,Ödipussi,Şaban Oğlu Şaban,Šíleně smutná princezna
title,,,,,,,,,,,,,,,,,,,,,
$5 a Day,1.000000,0.592499,0.370557,0.779952,0.531311,0.119370,0.619563,0.686442,0.605964,0.591725,...,0.410958,0.666817,0.024891,0.688650,0.325763,0.462118,0.748964,0.517836,0.385410,0.917952
00 Schneider - Jagd auf Nihil Baxter,0.592499,1.000000,0.715147,0.565884,0.779999,0.163541,0.665634,0.785617,0.671579,0.320506,...,0.179921,0.434062,0.011579,0.520422,0.608693,0.646922,0.690063,0.810017,0.772763,0.575811
10 Items or Less,0.370557,0.715147,1.000000,0.388474,0.473830,0.094463,0.614514,0.497620,0.737592,0.143592,...,0.064951,0.576558,-0.027584,0.340359,0.555442,0.516594,0.558165,0.497266,0.494851,0.441682
10 Things I Hate About You,0.779952,0.565884,0.388474,1.000000,0.412744,0.146529,0.576998,0.507545,0.447794,0.691905,...,0.518128,0.618106,-0.017489,0.718282,0.394818,0.492518,0.625369,0.577339,0.442536,0.828079
12 Dates of Christmas,0.531311,0.779999,0.473830,0.412744,1.000000,0.223065,0.289659,0.870928,0.428607,0.264473,...,0.201723,0.288183,0.083670,0.553373,0.627493,0.705858,0.742442,0.762472,0.758501,0.480294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
¡A volar joven!,0.462118,0.646922,0.516594,0.492518,0.705858,0.291756,0.348069,0.570171,0.394276,0.398525,...,0.459511,0.375445,0.155797,0.581854,0.627378,1.000000,0.588716,0.668349,0.756148,0.474470
¡Three Amigos!,0.748964,0.690063,0.558165,0.625369,0.742442,0.184185,0.471970,0.825468,0.573796,0.465091,...,0.315933,0.577197,0.002973,0.751202,0.512342,0.588716,1.000000,0.575242,0.528360,0.724421
Ödipussi,0.517836,0.810017,0.497266,0.577339,0.762472,0.218350,0.496924,0.727878,0.491020,0.334150,...,0.227808,0.269482,0.000454,0.503630,0.613564,0.668349,0.575242,1.000000,0.892991,0.480516
Şaban Oğlu Şaban,0.385410,0.772763,0.494851,0.442536,0.758501,0.263230,0.356554,0.673329,0.456681,0.218325,...,0.158457,0.162255,0.044278,0.483014,0.712547,0.756148,0.528360,0.892991,1.000000,0.316738
Šíleně smutná princezna,0.917952,0.575811,0.441682,0.828079,0.480294,0.083763,0.668682,0.598317,0.516102,0.649434,...,0.439016,0.811930,-0.019961,0.651951,0.361820,0.474470,0.724421,0.480516,0.316738,1.000000

In [298]:
corr_SVD_ToyStory= pd.DataFrame(corr_mat_SVD_Comedy['Click'])
corr_SVD_ToyStory.shape

(2098, 1)

In [299]:
corr_SVD_ToyStory.sort_values(ascending=False, by='Toy Story').head(10)

                                                    Toy Story
title
Toy Story                                            1.000000
Pretty Woman                                         0.927157
Wild at Heart                                        0.907211
Miss Congeniality                                    0.905439
Army of Darkness                                     0.897714
Party Monster                                        0.893718
Borat: Cultural Learnings of America for Make B...   0.890019
Shower                                               0.886602
Junebug                                              0.885568
The Front Page                                       0.883632

In [ ]:
# In this section I created a Reccomedner system from the correlation Matrix from SVD

### Section 7b: Explain the results for the Recommender System using SVD for Toy Story

#### Again similar to my last explaination over the recccomender system I expected there to be more childrens movies reccomended and less rated R comedies. These movies for my age look like a great reccomendation, but for anyone who was younger it would seem these movies shouldn't be reccomended, but these are great movies. I guess if we wanted to go further we could make it to where it was for children only if we wanted to spin it that way. But, all of these movies are very highly rated and I can see why they would be reccomended next to toy story. I think compared to the first results they are very similar with only a handful of movies changed. I would say it is hard to say which of these results are better, but I think they both do a great job when it comes to great movies being reccomended, for the sake of the homework I will say the SVD system would be better due to the sparse data we had.

In [ ]:
# explainatiojn of the results from the SVD reccomender system

## 8. Create a Recommender System for your favorite

#### **OBJECTIVE**: Now that you have created a PCA and a SVD Recommender System for Toy Story. Select any comedy that you consider one of your favorites to conduct a recommender system. Pick either SVD or PCA (not both) based on your analysis in Section 7b.

### Section 8a: Create your Recommender System for your favorite movie.

In [309]:
df_comedies_pivot

userId,1,2,3,4,5,6,7,8,9,10,...,270887,270888,270889,270890,270891,270892,270893,270894,270895,270896
title,,,,,,,,,,,,,,,,,,,,,
$5 a Day,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00 Schneider - Jagd auf Nihil Baxter,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 Items or Less,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 Things I Hate About You,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12 Dates of Christmas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
¡A volar joven!,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
¡Three Amigos!,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ödipussi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Şaban Oğlu Şaban,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Šíleně smutná princezna,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [313]:
comedy_movie_names = df_comedies_pivot.index
comedy_movie_names

Index(['$5 a Day', '00 Schneider - Jagd auf Nihil Baxter', '10 Items or Less',
       '10 Things I Hate About You', '12 Dates of Christmas',
       '12 Wishes of Christmas', '2 Days in Paris', '2001: A Space Travesty',
       '24 Hour Party People', '27 Dresses',
       ...
       'Zapped Again!', 'Zazie dans le métro', 'Zero Charisma',
       'Zero for Conduct', 'Zigzag of Success', '¡A volar joven!',
       '¡Three Amigos!', 'Ödipussi', 'Şaban Oğlu Şaban',
       'Šíleně smutná princezna'],
      dtype='object', name='title', length=2098)

In [315]:
SVD = TruncatedSVD(n_components=85)
resultant_matrix_SVD = SVD.fit_transform(df_comedies_pivot)
resultant_matrix_SVD.shape

(2098, 85)

In [316]:
df_resultant_matrix_SVD = pd.DataFrame(resultant_matrix_SVD)
df_resultant_matrix_SVD.head()

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
0,2.396412,-0.035689,-2.275408,-1.429823,-0.586308,0.686210,0.313965,-0.287247,-1.250485,-0.455221,...,-0.182164,-0.486495,0.429124,0.254124,0.124285,-0.647638,0.213969,-0.315946,-0.029482,0.781500
1,1.256946,-0.361763,-1.153367,-0.083663,-0.775622,0.174200,0.163639,-0.598615,-0.191859,-0.328105,...,-0.102038,-0.100692,0.152054,-0.004353,-0.036035,-0.292478,0.145309,-0.955859,-0.000323,0.125714
2,39.009695,-11.883545,-35.677013,14.850666,-18.009578,-6.504352,-17.180985,-7.090245,-7.624454,-7.971843,...,5.358510,-3.855341,-3.907987,-0.670025,2.545839,-0.115801,-8.959502,-14.382403,5.185863,-2.379428
3,23.020943,-3.334630,-8.907074,-13.871253,-1.567063,6.625214,2.361993,0.093343,-4.782178,-2.946098,...,-2.264510,-1.130004,5.733891,0.099514,1.883604,-3.399175,-2.089757,0.022088,-0.039633,3.979439
4,0.056788,-0.023487,-0.069409,-0.032385,-0.085092,-0.035981,0.016415,-0.070981,-0.029909,-0.061908,...,-0.031469,0.007975,0.015159,-0.021607,0.018652,-0.037076,-0.038050,-0.052417,0.006275,-0.012054

In [319]:
corr_mat_SVD_Favorite = np.corrcoef(resultant_matrix_SVD)
corr_mat_SVD_Favorite = pd.DataFrame(corr_mat_SVD_Comedy, columns=(comedy_movie_names))
corr_mat_SVD_Favorite.index = comedy_movie_names
corr_mat_SVD_Favorite

title,$5 a Day,00 Schneider - Jagd auf Nihil Baxter,10 Items or Less,10 Things I Hate About You,12 Dates of Christmas,12 Wishes of Christmas,2 Days in Paris,2001: A Space Travesty,24 Hour Party People,27 Dresses,...,Zapped Again!,Zazie dans le métro,Zero Charisma,Zero for Conduct,Zigzag of Success,¡A volar joven!,¡Three Amigos!,Ödipussi,Şaban Oğlu Şaban,Šíleně smutná princezna
title,,,,,,,,,,,,,,,,,,,,,
$5 a Day,1.000000,0.592499,0.370557,0.779952,0.531311,0.119370,0.619563,0.686442,0.605964,0.591725,...,0.410958,0.666817,0.024891,0.688650,0.325763,0.462118,0.748964,0.517836,0.385410,0.917952
00 Schneider - Jagd auf Nihil Baxter,0.592499,1.000000,0.715147,0.565884,0.779999,0.163541,0.665634,0.785617,0.671579,0.320506,...,0.179921,0.434062,0.011579,0.520422,0.608693,0.646922,0.690063,0.810017,0.772763,0.575811
10 Items or Less,0.370557,0.715147,1.000000,0.388474,0.473830,0.094463,0.614514,0.497620,0.737592,0.143592,...,0.064951,0.576558,-0.027584,0.340359,0.555442,0.516594,0.558165,0.497266,0.494851,0.441682
10 Things I Hate About You,0.779952,0.565884,0.388474,1.000000,0.412744,0.146529,0.576998,0.507545,0.447794,0.691905,...,0.518128,0.618106,-0.017489,0.718282,0.394818,0.492518,0.625369,0.577339,0.442536,0.828079
12 Dates of Christmas,0.531311,0.779999,0.473830,0.412744,1.000000,0.223065,0.289659,0.870928,0.428607,0.264473,...,0.201723,0.288183,0.083670,0.553373,0.627493,0.705858,0.742442,0.762472,0.758501,0.480294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
¡A volar joven!,0.462118,0.646922,0.516594,0.492518,0.705858,0.291756,0.348069,0.570171,0.394276,0.398525,...,0.459511,0.375445,0.155797,0.581854,0.627378,1.000000,0.588716,0.668349,0.756148,0.474470
¡Three Amigos!,0.748964,0.690063,0.558165,0.625369,0.742442,0.184185,0.471970,0.825468,0.573796,0.465091,...,0.315933,0.577197,0.002973,0.751202,0.512342,0.588716,1.000000,0.575242,0.528360,0.724421
Ödipussi,0.517836,0.810017,0.497266,0.577339,0.762472,0.218350,0.496924,0.727878,0.491020,0.334150,...,0.227808,0.269482,0.000454,0.503630,0.613564,0.668349,0.575242,1.000000,0.892991,0.480516
Şaban Oğlu Şaban,0.385410,0.772763,0.494851,0.442536,0.758501,0.263230,0.356554,0.673329,0.456681,0.218325,...,0.158457,0.162255,0.044278,0.483014,0.712547,0.756148,0.528360,0.892991,1.000000,0.316738
Šíleně smutná princezna,0.917952,0.575811,0.441682,0.828079,0.480294,0.083763,0.668682,0.598317,0.516102,0.649434,...,0.439016,0.811930,-0.019961,0.651951,0.361820,0.474470,0.724421,0.480516,0.316738,1.000000

In [340]:
corr_SVD_BoratCulturalLearningsofAmericaforMakeBenefitGloriousNationofKazakhstan= pd.DataFrame(corr_mat_SVD_Favorite['Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan'])
corr_SVD_BoratCulturalLearningsofAmericaforMakeBenefitGloriousNationofKazakhstan.shape

(2098, 1)

In [342]:
corr_SVD_BoratCulturalLearningsofAmericaforMakeBenefitGloriousNationofKazakhstan.sort_values(ascending=False, by='Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan').head(10)

                                                    Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan
title
Borat: Cultural Learnings of America for Make B...                                           1.000000
Cool Runnings                                                                                0.920666
Party Monster                                                                                0.912207
Wild at Heart                                                                                0.905052
Toy Story                                                                                    0.890019
Berlin is in Germany                                                                         0.889931
Life of Brian                                                                                0.885528
Manhattan                                                                                    0.883483
Army of Darkness                                                                             0.862821
All About My Mother                                                                          0.857777

In [ ]:
# in this sectuon I chose my favorite movie and did the SVD correlation reccomendation matrix

### Section 8b: Explain the results for the Recommender System for your favorite comedy

#### These choices are okay, I will say my favorite comedy was not in the list sadly, so I used one I do love Borat. These do make sense as they were correlated with Toy Story earlier so I can see that all of these movies are very similar and reccomended together. I am probably not going to watch any of these sadly. I googled them and not a big fan of any of these, other than Toy Story and Army of Darkness. I could maybe chose another movie and look, but I'll take my chances on the usual Netflix browse.